body {
    gap: 2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(200, 240, 226);
}

.opicoes__itens__opicoes{
    background-color: rgb(226, 241, 228);
    border: 2px solid black;
    color: black;
    padding: 2px 7px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 35px;
}
.botoes__opcoes {
    gap: 1rem;
    display: flex;
    justify-content: center;
}
.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.principal__opicao .principal__pergunta {
    align-items: center;
}
